[submodule "rustlings"]
	path = rustlings
	url = git@github.com:rust-lang/rustlings.git
[submodule "this-week-in-rust"]
	path = this-week-in-rust
	url = git@github.com:rust-lang/this-week-in-rust.git
[submodule "rust-learning"]
	path = rust-learning
	url = git@github.com:ctjhoa/rust-learning.git
[submodule "rust-learning"]
	path = rust-learning
	url = git@github.com:mre/idiomatic-rust.git
[submodule "rust-blog"]
	path = rust-blog
	url = git@github.com:pretzelhammer/rust-blog
[submodule "rust"]
	path = rust
	url = git@github.com:thealgorithms/rust
[submodule "awesome-blockchain-rust"]
	path = awesome-blockchain-rust
	url = git@github.com:rust-in-blockchain/awesome-blockchain-rust
[submodule "rustbooks"]
	path = rustbooks
	url = git@github.com:sger/RustBooks.git
[submodule "design-patterns-rust"]
	path = design-patterns-rust
	url = git@github.com:fadeevab/design-patterns-rust.git
[submodule "rust-anthology"]
	path = rust-anthology
	url = git@github.com:brson/rust-anthology.git
[submodule "cracking-the-coding-interview-rust"]
	path = cracking-the-coding-interview-rust
	url = git@github.com:brndnmtthws/cracking-the-coding-interview-rust.git
[submodule "comprehensive-rust"]
	path = comprehensive-rust
	url = git@github.com:google/comprehensive-rust.git
