[submodule "rustlings"]
	path = rustlings
	url = git@github.com:rust-lang/rustlings.git
[submodule "this-week-in-rust"]
	path = this-week-in-rust
	url = git@github.com:rust-lang/this-week-in-rust.git
[submodule "rust-learning"]
	path = rust-learning
	url = git@github.com:ctjhoa/rust-learning.git
[submodule "rust-learning"]
	path = rust-learning
	url = git@github.com:mre/idiomatic-rust.git
[submodule "rust-blog"]
	path = rust-blog
	url = git@github.com:pretzelhammer/rust-blog
[submodule "rust"]
	path = rust
	url = git@github.com:thealgorithms/rust
[submodule "awesome-blockchain-rust"]
	path = awesome-blockchain-rust
	url = git@github.com:rust-in-blockchain/awesome-blockchain-rust
