[submodule "rustlings"]
	path = rustlings
	url = git@github.com:rust-lang/rustlings.git
[submodule "this-week-in-rust"]
	path = this-week-in-rust
	url = git@github.com:rust-lang/this-week-in-rust.git
